# SPDX-License-Identifier: GPL-2.0

config DVB_CXD2858
	tristate "Sony CXD2858 DVB-T2/T tuner + demodulator"
	depends on DVB_CORE && SPI
	default m if !MEDIA_SUBDRV_AUTOSELECT
	help
	  Say Y when you want to support this frontend.